@import url('https://fonts.cdnfonts.com/css/gibson');
@import url('https://css.gg/align-middle.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gibson', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h2 {
  font-size: 30px;
}

body>header {
  position: sticky;
}

header nav {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
  box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
}

main {
  /*width: 90%;*/
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 3%;
  padding-bottom: 250px;
}

body section {
  margin-top: 130px;
}

section {
  display: flex;
  align-items: center;
  margin: auto auto;
  width: 80%;
  max-width: 1110px;
  justify-content: space-between;
}

section:nth-child(odd) {
  flex-direction: row-reverse;
}

section>aside {
  display: block;
  max-width: 60%;
  font-size: 16px;
}

section>aside h2 {
  font-size: 30px;
}

section img {
  width: 30%;
  height: fit-content;
  margin: auto auto;
}

button:hover {
  background-color: rgb(245, 245, 245);
  color: #0c0d29;
  transform: scale(1.05);
}

.topbar {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-shadow: #333;
}

.topbar img {
  width: 185px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
}

.topbar p {
  color: #0c0d29;
  font-weight: 600;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}

.menu-bar {
  background-color: #0c0d29;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 15px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  font-weight: 200;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #3794f1;
}

nav ul {
  display: none;
}

nav ul:hover {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav div ul {
  background-color: #333;
}

nav div li {
  float: left;
}

nav div li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav div li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

nav div li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.banner {
  width: 100%;
  height: 620px;
  margin-left: 0;
  background-image: url("https://www.thalesgroup.com/sites/default/files/database/assets/images/2022-11/Slider_1600x530_Thales_Energy%20%281%29.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

.banner {
  margin-right: 20%;
}

.banner .fond {
  width: 100%;
  height: 100%;
  background-color: #0c0d2979;
  position: absolute;
}

.banner h1 {
  font-size: 72px;
  margin-left: 20%;
  max-width: 640px;
  line-height: 107%;
}

.banner p {
  margin-left: 20%;
  max-width: 600px;
  font-size: 17px;
  line-height: 26px;
}

.btn {
  background-color: #0c0d29;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 18px;
  height: 44px;
  padding: 0 28px;
  border-radius: 3px;
  font: 16px/44px "Gibson";
  transition: background-color .2s linear, color .2s linear;
  max-width: 640px;
  transition: all .2s ease-out;
}

input.btn {
  min-width: 140px;
}

.btn:hover {
  background-color: rgb(245, 245, 245);
  color: #0c0d29;
  transform: scale(1.05);
}

.section-center {
  display: block;
  text-align: center;
}

.section-center div {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 100px;
}

.section-center summary {
  width: 20%;
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
  box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  transition: all .2s ease-in-out;
  background-color: #0c0d29;
  color: white;
}

.section-center summary:hover {
  transform: scale(105%);
}

.section-center img {
  width: 100%;
}

.liste {
  list-style: square;
  list-style-position: inside;
  line-height: 24px;
  margin-left: 5%;
}

input {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: 2px solid #0C0D29;
  border-radius: 5px;
  font-family: 'Gibson', sans-serif;
}

input.btn {
  width: 20%;
}

main#login {
  display: grid;
  grid-template-columns: 10% 40% 40% 1fr;
  grid-row: 1fr;
}

main#login section {
  display: block;
  background-color: white;
  min-width: 0px;
  padding: 0px 30px 30px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
  box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);

}

main#login section:first-of-type {
  grid-column-start: 2;
}

main#trajets section {
  display: block;
  background-color: white;
  min-width: 0px;
  padding: 10px 30px 30px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
  box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
}

main#trajets section h3 {
  text-align: center;
  font-size: 30px;
}

main#trajets section h4 {
  text-align: center;
}

main#trajets section summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr;
}

main#trajets section summary aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

main#trajets section summary aside p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

main#trajets section summary a {
  grid-column-end: 3;
  background-color: #0c0d29;
  width: fit-content;
  justify-self: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 18px;
  height: 44px;
  padding: 0 28px;
  border-radius: 20px;
  font: 16px/44px "Gibson";
  transition: background-color .2s linear, color .2s linear;
  -webkit-transition: background-color .2s linear, color .2s linear;
  -moz-transition: background-color .2s linear, color .2s linear;
  -ms-transition: background-color .2s linear, color .2s linear;
  -o-transition: background-color .2s linear, color .2s linear;
  max-width: 640px;
  transition: all .2s ease-out;
}

main#trajets section summary a:hover {
  background-color: rgb(245, 245, 245);
  color: #0c0d29;
  transform: scale(1.05);
}







main#vehicules section {
  display: block;
  background-color: white;
  min-width: 0px;
  padding: 10px 30px 30px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
  box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
}

main#vehicules section h3 {
  text-align: center;
  font-size: 30px;
}

main#vehicules section h4 {
  text-align: center;
}

main#vehicules section summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr;
}

main#vehicules section summary aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

main#vehicules section summary aside p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

main#vehicules section summary a {
  grid-column-end: 3;
  background-color: #0c0d29;
  width: fit-content;
  justify-self: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 18px;
  height: 44px;
  padding: 0 28px;
  border-radius: 20px;
  font: 16px/44px "Gibson";
  transition: background-color .2s linear, color .2s linear;
  -webkit-transition: background-color .2s linear, color .2s linear;
  -moz-transition: background-color .2s linear, color .2s linear;
  -ms-transition: background-color .2s linear, color .2s linear;
  -o-transition: background-color .2s linear, color .2s linear;
  max-width: 640px;
  transition: all .2s ease-out;
}

main#vehicules section summary a:hover {
  background-color: rgb(245, 245, 245);
  color: #0c0d29;
  transform: scale(1.05);
}

main#proposer {
  padding-left: 100px;
}

main#proposer h1 {
  text-align: left;
}



.profil {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.profil-photo {
  width: 200px;
  height: 200px;
  margin-top: 25px;
}

.profil-photo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: solid 5px black;
  -webkit-box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
  box-shadow: 1px 1px 20px -8px rgba(26, 26, 26, 0.15);
}


.profil-info {
  padding: 10px;
}

.profil-info i {
	font-weight: 200;
}

@media screen and (max-width: 900px) {
  .section-center div {
    flex-direction: column;
    align-items: center;
  }

  .section-center div summary {
    width: 60%;
  }
  
  .section-center div summary img {
    width: 70%;
  }

}

@media screen and (max-width: 600px) {
  .profil {
    flex-direction: column;
    text-align: center;
  }

  .profil-photo {
    display: flex;
    width: 90%;
    height: 90%;
    padding: 0 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .profil-photo img {
    width: 200px;
  }

  .profil-info {
    width: 100%;
    text-align: center;
  }

  main#login section {
    padding-top: 10px;
  }

  .banner h1, .banner p, .banner a, .banner button {
    margin-left: 0;
    padding: 0 30px;
    text-align: center;
  }

  .banner {
    padding-bottom: 150px;
  }

  footer {
    display: block !important;
    padding: 0 0 0 50px !important;
  }

  #login {
    display: block !important;
  }
}

main>h1 {
  text-align: center;
  padding-bottom: 50px
}

body footer {
  display: grid;
  grid-template-columns: 1fr repeat(4, 20%) 1fr;
  grid-template-rows: 1fr 10%;
  margin: 0px 10% 0px 10%;
  color: white;
  background-color: #0c0d29;
  margin-left: 0;
  padding: 50px 0 50px 0;
  width: 100%;
}

body footer ul:first-of-type {
  grid-column-start: 2;
}

body footer ul li {
  line-height: 30px;
  color: #dddddd;
}

body footer ul hr {
  width: 80%;
  margin-left: 0;
}

body footer p {
  padding-top: 20px;
  grid-column-start: 2;
  grid-column-end: 6;
  text-align: center;
  color: #dddddd;
  font-style: italic;
}

body footer ul li {
  transition: all .2s ease-out;
}

body footer ul li:hover {
  transform: scale(1.01);
}